

<div class="container-fluid">
    <h5 class="mt-3">Cadastro de Produtos</h5>
    <form id="produto" method="post">
        <div id="verproduto"></div>
    </form>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start col-sm-6">
        <button id="InserirProduto" type="button" class="btn btn-primary">Inserir</button>
        <button id="AlterarProduto" type="button" class="btn btn-primary">Gravar</button>
        <button id="Cancelar" type="button" class="btn btn-secondary">Cancelar</button>
    </div>

    <div id="listaproduto" class="mt-2"></div>
</div>
<script src="~/js/Produto.js"></script>


