<h5 class="mt-3">Cadastro de Grades</h5>

<form id="grade" method="post">
    <div id="vergrade"></div>
</form>

<div class="d-grid gap-2 d-md-flex justify-content-md-start col-sm-10">
    <button id="InserirGrade" type="button" class="btn btn-primary">Inserir</button>
    <button id="AlterarGrade" type="button" class="btn btn-primary">Gravar</button>
    <button id="Cancelar" type="button" class="btn btn-secondary">Cancelar</button>
</div>

<div id="listagrade" class="mt-2"></div>

<script src="~/js/Grade.js"></script>