
<h5 class="mt-3">Cadastro de Parceiros</h5>

<form id="Parceiro" method="post">
    <div id="verParceiro"></div>
</form>

<div class="d-grid gap-2 d-md-flex justify-content-md-start col-sm-12 ">
    <button id="InserirParceiro" type="button" class="btn btn-primary">Inserir</button>
    <button id="AlterarParceiro" type="button" class="btn btn-primary">Gravar</button>
    <button id="Cancelar" type="button" class="btn btn-secondary">Cancelar</button>
</div>
<div id="listaParceiro" class="mt-2"></div>

<script src="~/js/Parceiro.js"></script>


